.text-left
  %p
    %h3{:style => 'color:#1E90FF'}博主
    = @blog ? @blog.name : '张瑜'
  %p
    %h3{:style => 'color:#1E90FF'}Email
    = @blog ? (link_to @blog.email, "mailto:#{@blog.email}") : 'zhangyukjn@sina.com'
  %p
    %h3{:style => 'color:#1E90FF'}简介
    %p
      %h5 毕业学校:    2015.6毕业于北华大学
    %p
      %h5 从业经历:    2014.12-至今北京乐单科技技术有限公司(全栈工程师)
    %p
    %p
    %p
    %p
      %h4 技术背景:
      %h5 熟悉Ruby, Ruby On Rails框架, 熟练使用rails进行web端的开发，使用bootstrap进行页面布局
      %h5 熟悉python, 熟练使用django框架,flask框架进行服务器端的开发和web开发
      %h5 了解java，ssh框架,系统学习过java语言
      %h5 了解Objecive－c 语言,写过一些简单的App小demo
      %h5 从事过Titanium移动端跨平台的开发，开发产品已经上线
      %h5 对移动开发的前后端开发足够了解，能独立完成前端app设计，和后端接口的设计
      %h5 项目经历:  Appstore上线产品


