.text-left
  %p
    %h3{:style => 'color:#1E90FF'}博主
    = @blog ? @blog.name : '张瑜'
  %p
    %h3{:style => 'color:#1E90FF'}Email
    = @blog ? (link_to @blog.email, "mailto:#{@blog.email}") : 'zhangyukjn@sina.com'
  %p
    %h3{:style => 'color:#1E90FF'}简介
    = @blog ? @blog.description : 'lalahahah|kaka'

